---
import Nowtime from "./react/NowTime.tsx";
import { MdOutlineTipsAndUpdates } from "react-icons/md";
---

<footer class="pt-8">
	<hr class="bg-title h-px border-0" />
	<div class="flex items-center justify-between">
		<div class="mx-1 flex gap-1 pt-4 md:mx-3">
			<div class="flex items-center gap-1">
				<MdOutlineTipsAndUpdates className="text-title" size={16} />
				<span class="text-body text-xs">Last updated on April 27, 2025</span>
			</div>
		</div>
		<div class="mx-1 flex items-center justify-between pt-4 md:mx-3">
			<span class="text-body text-xs">Bhopal</span>
		</div>
	</div>
</footer>
